<!-- HEADER -->
<nav class="uk-navbar-container uk-margin-large-top" uk-navbar>
  <div class="uk-navbar-center">

    <div class="uk-navbar-center-left">
      <div>
        <ul class="uk-navbar-nav">
          <li><a href="#"><span uk-icon="file-edit"></span></a></li>
          <li class="uk-active"><a href="#">Articles</a></li>
          <li><a href="#"><span uk-icon="bolt"></span></a></li>
          <li>
            <a href="#">Threads</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">Threads</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">Recent</a></li>
                <li><a href="#">...</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="uk-card-header uk-flex-center">
      <a class="uk-navbar-item uk-logo" href="#">
        <img src="/src/assets/img/wt-logo.png">
      </a>
      <div class="uk-h1 uk-text-center">WICKED WIKI</div>
    </div>
    <div class="uk-navbar-center-right">
      <div>
        <ul class="uk-navbar-nav">
          <li><a href="#">SETTINGS</a></li>
          <li><a href="#"><span uk-icon="settings"></span></a></li>
          <li><a href="#">SIGN IN</a></li>
          <li><a href="#"><span uk-icon="sign-in"></span></a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<!-- DIVIDER -->
<hr class="uk-divider-icon">

<!-- SLIDER SECTION -->
<div class="uk-position-relative uk-visible-toggle uk-light"
     uk-slider="clsActivated: uk-transition-active; center: true">

  <ul class="uk-slider-items uk-grid">
    <li class="uk-width-3-4">
      <div class="uk-panel">
        <img src="../assets/img/1440-960_bg-01.jpg" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
          <h3 class="uk-margin-remove">Bottom</h3>
          <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </li>
    <li class="uk-width-3-4">
      <div class="uk-panel">
        <img src="../assets/img/1440-960_bg-02.jpg" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
          <h3 class="uk-margin-remove">Bottom</h3>
          <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </li>
    <li class="uk-width-3-4">
      <div class="uk-panel">
        <img src="../assets/img/1440-960_bg-03.jpg" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
          <h3 class="uk-margin-remove">Bottom</h3>
          <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </li>
    <li class="uk-width-3-4">
      <div class="uk-panel">
        <img src="../assets/img/1440-960_bg-04.jpg" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
          <h3 class="uk-margin-remove">Bottom</h3>
          <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </li>
    <li class="uk-width-3-4">
      <div class="uk-panel">
        <img src="../assets/img/1440-960_bg-05.jpg" alt="">
        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
          <h3 class="uk-margin-remove">Bottom</h3>
          <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
     uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
     uk-slider-item="next"></a>

</div>

<!-- SIGN IN SECTION -->
<div class="uk-flex uk-flex-center">
  <div class="uk-section">
    <div class="uk-container uk-margin uk-child-width-expand">
      <form>

        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text">
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" type="text">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- ARTICLE SECTION -->
<div class="uk-flex uk-flex-center">
  <div class="uk-section">
    <div class="uk-container uk-margin uk-align-center">
      <article class="uk-article">

        <h1 class="uk-article-title"><a class="uk-link-reset" href="">Heading</a></h1>

        <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012. Posted in <a
          href="#">Blog</a>
        </p>

        <p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum.</p>

        <div class="uk-grid-small uk-child-width-auto" uk-grid>
          <div>
            <a class="uk-button uk-button-text" href="#">Read more</a>
          </div>
          <div>
            <a class="uk-button uk-button-text" href="#">5 Comments</a>
          </div>
        </div>

      </article>
    </div>
  </div>
</div>

<!-- COMMENT SECTION -->
<div class="uk-flex uk-flex-center">
  <div class="uk-section">
    <div class="uk-container uk-margin uk-align-center">
      <ul class="uk-comment-list">
        <li>
          <article class="uk-comment uk-visible-toggle">
            <header class="uk-comment-header uk-position-relative">
              <div class="uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <img class="uk-comment-avatar" src="../assets/img/ryan_400-400.jpg" width="80" height="80" alt="">
                </div>
                <div class="uk-width-expand">
                  <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                  <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                </div>
              </div>
              <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a>
              </div>
            </header>
            <div class="uk-comment-body">
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
          </article>
          <ul>
            <li>
              <article class="uk-comment uk-comment-primary uk-visible-toggle">
                <header class="uk-comment-header uk-position-relative">
                  <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                      <img class="uk-comment-avatar" src="../assets/img/eva_400-400.jpg" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                      <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                      <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a>
                      </p>
                    </div>
                  </div>
                  <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted"
                                                                                          href="#">Reply</a></div>
                </header>
                <div class="uk-comment-body">
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
              </article>
            </li>
            <li>
              <article class="uk-comment uk-visible-toggle">
                <header class="uk-comment-header uk-position-relative">
                  <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                      <img class="uk-comment-avatar" src="../assets/img/ryan_400-400.jpg" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                      <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                      <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a>
                      </p>
                    </div>
                  </div>
                  <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted"
                                                                                          href="#">Reply</a></div>
                </header>
                <div class="uk-comment-body">
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
              </article>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- DIVIDER -->
<hr class="uk-divider-icon">

<!-- FOOTER -->
<div class="uk-card-footer">
  <div class="uk-section">
    <div class="uk-container">
      <div class="uk-container uk-text-center uk-grid-match" uk-grid>
        <div class="uk-text-left uk-width-1-4">
          <p>FITEC</p>
        </div>
        <div class="uk-text-center uk-width-2-4">
          <q>Wicked never felt so good...</q>
        </div>
        <div class="uk-text-right uk-width-1-4">
          <div class="uk-card uk-card-body">

            <div class="">
              <img class="uk-border-circle" src="/src/assets/img/paula-logo.jpg">
              <p>Paula</p>
            </div>
            <div class="">
              <img class="uk-border-circle" src="/src/assets/img/gab-logo.jpg">
              <p>Gabriel</p>
            </div>
            <p><img src="/src/assets/img/gab-logo.jpg"></p>
            <p>Copyright © 2018 P & G</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="uk-card-footer">
  <div class="uk-card uk-card-default">
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
        </div>
        <div class="uk-width-expand">
          <h3 class="uk-card-title uk-margin-remove-bottom">Title</h3>
          <p class="uk-text-meta uk-margin-remove-top">
            <time datetime="2016-04-01T19:00">April 01, 2016</time>
          </p>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
    <div class="uk-card-footer uk-margin">
      <ul>
        <li><a href="#" class="uk-button uk-button-text">Read more</a></li>
        <li><a href="#" class="uk-button uk-button-text">Read more</a></li>
        <li><a href="#" class="uk-button uk-button-text">Read more</a></li>
      </ul>
      <a href="#" class="uk-button uk-button-text">Read more</a>
      <a href="#" class="uk-button uk-button-text">Read more</a>

    </div>
  </div>
</div>
