<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-center">

    <div class="uk-navbar-center-left">
      <div>
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="#">Active</a></li>
          <li>
            <a href="#">Parent</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <a class="uk-navbar-item uk-logo" href="#">Logo</a>
    <div class="uk-navbar-center-right">
      <div>
        <ul class="uk-navbar-nav">
          <li><a href="#">Item</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>

<div class="uk-flex uk-flex-center">
  <div class="uk-section">
    <div class="uk-container uk-margin uk-child-width-expand">
      <form>

        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text">
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" type="text">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="uk-section">
  <div class="uk-container uk-margin uk-align-center">
    <div class="uk-position-relative uk-light" uk-slideshow>

      <ul class="uk-slideshow-items">
        <li>
          <img src="../../src/assets/img/1440-960_bg-01.jpg" alt="" uk-cover>
          <div>A</div>
        </li>
        <li>
          <img src="../../src/assets/img/1440-960_bg-02.jpg" alt="" uk-cover>
          <div>A</div>
        </li>
        <li>
          <img src="../../src/assets/img/1440-960_bg-03.jpg" alt="" uk-cover>
          <div>A</div>
        </li>
      </ul>

      <div class="uk-position-bottom-center uk-position-small">
        <ul class="uk-dotnav">
          <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
          <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
          <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="uk-flex uk-flex-center">
  <div class="uk-section">
    <div class="uk-container uk-margin uk-align-center">
      <article class="uk-article">

        <h1 class="uk-article-title"><a class="uk-link-reset" href="">Heading</a></h1>

        <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012. Posted in <a
          href="#">Blog</a>
        </p>

        <p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est
          laborum.</p>

        <div class="uk-grid-small uk-child-width-auto" uk-grid>
          <div>
            <a class="uk-button uk-button-text" href="#">Read more</a>
          </div>
          <div>
            <a class="uk-button uk-button-text" href="#">5 Comments</a>
          </div>
        </div>

      </article>
    </div>
  </div>
</div>

<!-- FOOTER -->
<footer class="uk-section uk-section-default" data-uk-scrollspy="{cls:'uk-animation-fade', delay:10, repeat:true}">
  <div class="uk-container uk-container-center">
    <div data-uk-grid-margin class="uk-grid">
      <div class="uk-width-1-2@m">
        <h3 class="uk-text-center@s">Transcademy</h3><!--font weight 400--><p class="uk-text-center@s">
        At transcademy, we want to bridge the gaps in learning by creating an
        enabling platform, where the three major stakeholders in a child's learning process can interact, and
        exchange data. We believe this will help the parent, teacher and the school make better decisions on the
        child.
      </p>
      </div>
      <div class="uk-width-1-5@m">
        <h3 class="uk-text-center@s">Pages</h3>
        <ul class="uk-list uk-text-center@s">
          <li class="uk-margin-small-bottom"><a href="#">About</a></li>
          <li class="uk-margin-small-bottom"><a href="#">Blog</a></li>
          <li class="uk-margin-small-bottom"><a href="#">Survey</a></li>
          <li class="uk-margin-small-bottom"><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="uk-width-medium-3-10">
        <h3 class="uk-text-center-small">Social</h3>
        <ul class="uk-list uk-text-center-small">
          <li>04 Mann Extensions Apt. 434, Lagos, Nigeria.</li>
          <li>
            <ul class="uk-flex-inline uk-padding-remove t-tel">
              <li class="uk-margin-right"><a href="tel:+2348136957196">+234 813 6957196</a></li>
              <li class="uk-margin-right"><a href="tel:+2348067147306">+234 806 7147306</a></li>
            </ul>
            <div class="uk-grid uk-grid-match">
              <div class="uk-width-1-1"></div>
            </div>
          </li>
          <li class="t-mail"><a href="mailto:info@transcademy.com">info@transcademy.com</a></li>
          <li>
            <ul class="uk-flex-inline uk-padding-remove t-social">
              <li><a href="http://www.twitter.com/transcademy"><i class="t-icon-twitter"></i></a></li>
              <li><a href="http://www.facebook.com/transcademy"><i class="t-icon-facebook"></i></a></li>
              <li>
                <a href="http://www.google.com/+transcademy01"><i class="t-icon-google-plus"></i></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="uk-grid-divider"></div>
    <div data-uk-grid-margin class="uk-grid">
      <div class="uk-width-1-1 uk-text-center-small uk-width-medium-1-2 t-copyright">
        Copyright © 2016 Transcademy.
        All rights reserved.
      </div>
      <div class="uk-width-1-1 uk-text-center-small uk-width-medium-1-2">
        <ul class="uk-list">
          <li class="uk-text-right uk-text-center-small">
            <a href="#" class="uk-margin-right">
              Privacy
              Policy
            </a><a href="#" class="uk-margin-right">Terms of Use</a><a href="#">Site Map</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
